// В этом файле должны быть стили для БЭМ-блока page-checkout, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.page-checkout {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  padding-top: 140px;

  &__horizont-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    .horizont-menu__link {
      margin: 0px 10px;
    }

    @media screen and (max-width: $screen-md - 1) {
      margin-bottom: 0;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    @media screen and (max-width: $screen-md - 1) {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;
  }

  &__col {

    form {

      .btn {
        margin-bottom: 40px;
      }
    }
  }

  &__form-row {
    display: flex;
  }

  &__form-col {
    flex: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .w630 {
    width: 630px;
    max-width: 630px;

    @media screen and (max-width: 670px) {
      width: 100%;
      max-width: 100%;
      padding: 0 20px;
    }
  }

  &__finally {
    padding: 200px 0;

    @media screen and (max-width: $screen-sm - 1) {
      padding: 80px 0;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
}
