@mixin input() {

  $block-name: &; // #{$block-name}__element

  display: block;
  margin-bottom: 20px;

  &__title {
    display: block;
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0px;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    -webkit-appearance: none;
    border-radius: 0;

    &::placeholder {
      font-size: 14px;
      line-height: 130%;
    }
  }

  &__description {
    display: block;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    color: rgba(2, 36, 53, 0.6);
    margin-top: 4px;
  }


  &--search {
    position: relative;
  }

  button.action {
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
  }

  // &--error {
  //   #{$block-name}__input {
  //     border-color: $red-color;
  //     color: $red-color;
  //   }

  //   #{$block-name}__title,
  //   #{$block-name}__description {
  //     color: $red-color;
  //   }
  // }
}

@mixin right-arrow() {
  $block-name: &; // #{$block-name}__element

  position: relative;
  transition: all 0.2s ease;
  padding-right: 14px;

  &:hover {
    opacity: 0.5;

    &:after {
      right: -10px;
    }
  }

  &:after {
    content: '';
    width: 6px;
    height: 12px;
    position: absolute;
    right: 0;
    top: calc(50% - 6px);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 11.0004L5.5002 6.0002L0.5 1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transition: all 0.2s ease;
  }
}
