// В этом файле должны быть стили для БЭМ-блока top-sale-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.top-sale-slider {

  $block-name:                &; // #{$block-name}__element

  height: 40px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  z-index: 100;

  &.slick-initialized {
    display: flex;
  }

  @media screen and (max-width: $screen-md - 1) {
    padding: 0 20px;
  }

  @media screen and (max-width: $screen-sm - 1) {
    padding: 0 10px;
  }

  & + .page-header {
    top: 40px;
  }

  .slick-slide {
    text-align: center;
  }

  &__counter {
    position: absolute;
    line-height: 40px;

    @media screen and (max-width: $screen-sm - 1) {
      display: none;
    }

    span {
      color: #fff;
      width: 20px;
      height: 20px;
      display: inline-block;

      &:nth-child(1) {
        position: relative;
        margin-right: 9px;

        &:after {
          content: '';
          position: absolute;
          right: -6px;
          height: 20px;
          width: 1px;
          background: #fff;
        }
      }
    }
  }

  &__text {
    color: #fff;
    height: 38px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
  }
}
